<div class="row">
  <br><br>
</div>
<div>

      <div class="card col-sm-12 card1" id="card">
        <img src="{{ post.url }}" class="card-img-top col-sm-6" alt="Bad Url">
        <div class="card-body">
          <h3 class="card-title">{{ post.itemname }}</h3>
          <p class="card-text">Asking Price (INR): {{ post.askingPrice }}</p>
          <p class="card-text">Description: {{ post.description }}</p>
          <p class="card-text">Catagory: {{ post.catagory }}</p>
          <p class="card-text">City: {{ post.city }}</p>
          <p class="card-text">ZIP: {{ post.zip }}</p>
          <p class="card-text">Contact email: {{ post.email }}</p>


      </div>
    </div>
</div>
