<div class="about-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="about-img">
          <img src="assets/ad.jpg" style="width: 45 0px; height: 550px;">
        </div>
      </div>
      <div class="col-lg-6 col-lg-offset-1">
        <div class="about-text">
        <h2>About Us</h2>
        <p style="padding-top: 10%">Link classifieds is a web app that is dedicated to classifieds (small ads). The site is focused on various kinds of classifieds. Now days the world of advertisement has become a very big market. Thousands and thousands of things are being sold and bought. These classifieds helps owners to reach the buyers who will buy the goods. To buy the things buyers don’t have to waste their time going through all the ads or classifieds. They can directly apply the filters and finds the things which they want. It provides you the best deals at one place only So that you don’t have to go through all the newspapers or classifieds or consult a broker.  </p>
        <a [routerLink]="['']">Home</a>
        </div>
      </div>
    </div>
  </div>
</div>

